<% current_user.pigeons.each do |pigeon| %>
  <% if pigeon.reviews.length > 0 %>
    <% pigeon.reviews.each do |review| %>
      <p>For <strong><%= pigeon.name.capitalize %></strong>: "<i><%= review.comment %>"</i></p>
    <% end %>
  <% else %>
    <p>No reviews for <strong><%= pigeon.name.capitalize %></strong> yet!</p>
  <% end %>
<% end %>
<hr>
<h3>Reviews you left:</h3>
<hr>
<% current_user.reviews.each do |review| %>
  <p>For <strong><%= review.rental.pigeon.name.capitalize %></strong>: "<i><%= review.comment %>"</i></p>
<% end %>
