<div class="container">
  <%= render "profiles/infos" %>
  <br>
  <hr>
  <h2>Your pigeons:</h2>
  <hr>
  <%= render "profiles/pigeoncard" %>
  <br>
  <hr>
  <h2>Reviews for your pigeons:</h2>
  <hr>
  <%= render "profiles/reviews" %>
  <hr>
  <h2>Current rentals:</h2>
  <hr>
  <%= render "profiles/rentals" %>
  <hr>
  <%= button_to "Delete my account", registration_path(current_user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger btn-sm" %>
</div>
