<div class="container">

<h1>Good to see you <%= @user.first_name.capitalize %>!</h1>


<h2>Your infos:</h2>
<ul>
<li>First name: <strong> <%= @user.first_name.capitalize %></strong></li>
<li>Last name:  <strong>  <%= @user.last_name.capitalize %></strong></li>
<li>Email:  <strong>  <%= @user.email %></strong></li>

</ul>
<a class="btn btn-outline-primary btn-sm" href="/users/edit">Edit your infos</a>

<hr>

<h2>Your pigeons:</h2>
  <% if current_user.pigeons.exists? %>
    <% current_user.pigeons.each do |pigeon| %>
    <ul>
      <li><%= pigeon.name %></li>
    </ul>
    <% end %>
  <% else %>
    <p>You don't have any pigeons...</p>
  <% end %>

<hr>

<h2>Current rental:</h2>

<hr>

<h2>Your rentals history:</h2>


</div>
