<div class="container">
  <h1>Good to see you <%= @user.first_name.capitalize %>!</h1>
  <hr>
  <h2>Your infos:</h2>
  <hr>
  <ul>
    <li>First name: <strong><%= @user.first_name.capitalize %></strong></li>
    <li>Last name: <strong><%= @user.last_name.capitalize %></strong></li>
    <li>Email: <strong><%= @user.email %></strong></li>
  </ul>
  <a class="btn btn-outline-primary btn-sm" href="/users/edit">Edit your infos</a>
  <hr>
  <h2>Your pigeons:</h2>
  <hr>
  <% if current_user.pigeons.exists? %>
    <% current_user.pigeons.each do |pigeon| %>
      <div class="card-product">
        <%= cl_image_tag pigeon.photo.key, crop: :fill %>
        <div class="card-product-infos">
          <h2><%= pigeon.name.capitalize %></h2>
        </div>
        <div class="card-product-infos">
          <p><strong>Description:</strong> <%= pigeon.description.capitalize %></p>
          <p><strong>Maximum payload:</strong> <%= pigeon.maximum_payload_weight.to_i %> grams max</p>
          <p><strong>Range:</strong> <%= pigeon.range %> kilometers</p>
          <p><strong>Price per day:</strong> <%= pigeon.price %>€</p>
        </div>
        <div class="card-product-infos">
          <%= link_to "Edit your pigeon", edit_pigeon_path(pigeon), class: "btn btn-outline-primary btn-sm" %>
          <p><br>
          </p>
          <%= link_to "Delete your pigeon", pigeon_path(pigeon), class: "btn btn-outline-danger btn-sm", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You don't have any pigeons...</p>
  <% end %>
  <a class="btn btn-primary btn-sm" href="/pigeons/new">Add a pigeon</a>
  <hr>
  <h2>Current rentals:</h2>
  <% if current_user.pigeons.exists? %>
    <% current_user.pigeons.each do |pigeon| %>
      <% pigeon.rentals.each do |rental| %></p>
      <div class="card-product">
        <% if rental.user.photo.key.present? %>
          <%= cl_image_tag current_user.photo.key %>
        <% else %>
          <%= image_tag asset_path("pigeon.png") %>
        <% end %>
        <div class="card-product-infos">
          <strong>Renter:</strong> <%= rental.user.first_name.capitalize %> <br>
          <strong>Price:</strong> <%= rental.price %>€ <br>
          <strong>Duration:</strong> <%= (rental.end_date - rental.start_date).to_i %> days <br>
          <strong>Status:</strong>  <%= rental.status %><br>
        </div>
        <br>
      <% end %>
    <% end %>
  <% end %>
</div>
<hr>
<h2>Rentals history:</h2>
<hr>
<h2>Reviews:</h2>
<hr>
<p>Delete my account</p>
<div><%#= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger btn-sm" %></div>
