<div class="container">

<h1>Good to see you <%= @user.first_name %>!</h1>


<h2>Your infos:</h2>
<ul>
<li>First name: <%= @user.first_name %></li>
<li>Last name: <%= @user.last_name %></li>
<li>email: <%= @user.email %></li>

</ul>
<a class="btn btn-outline-primary btn-sm" href="/users/edit">Edit your infos</a>

<hr>

<h2>Your pigeons:</h2>
<%= current_user.pigeons.first.name %>


<hr>

<h2>Rental in progress:</h2>

<hr>

<h2>Your rentals history:</h2>


</div>
