<div class='container'>
<h2>Tell us more about your pigeon</h2>
<%= simple_form_for(@pigeon) do |f| %>
<%= f.input :name %>
  <%= f.input :maximum_payload_weight, as: :radio_buttons, collection:[
            ['10g (ex: 1 USB key)', 10],
            ['20g (ex: 1 SIM CARD)', 20],
            ['30g (ex: 3 USB keys)', 30],
            ['40g (ex: 22 parchment papers)', 40],
            ['50g (ex: 1 SSD Hard drive)', 50],
            ['60g (ex: 1 SSD Hard drive & 1 USB key)', 60]],
            label: 'Maximum payload weight (in grams)',
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Pigeon::WEIGHT %>
<div data-controller='range'>
  <label for='pigeon[range]'>Maximum range in km (<span data-range-target='rangeElement'>10</span> km)</label>
  <%= f.input :range, collection: 10..1000,  label: false, as: :range, input_html: { min:'10', max:'1000', data: { action: 'input->range#range', range_target: 'input'}}%>
</div>
<%= f.input :description %>
<%= f.input :address %>
<%= f.input :photo, as: :file %>
<%= f.submit %>
<% end %>
</div>
