<div class="search-form">
  <%= form_with url: pigeons_path,
                id: "search-form",
                method: "get",
                class: "d-flex g-0 flex-nowrap",
                data: {
                  controller: "search-form",
                  action: "submit->search-form#send",
                  turbo: "false"
                } do |f| %>
    <div class="datepicker-container">
      <%= f.text_field :dates,
        class: "form-control text-center",
        placeholder: "When?",
        data: {
          controller: "datepicker",
          datepicker_default_dates_value: [params[:start_date], params[:end_date]]
        }
       %>
    </div>
    <div class="address-container"
         data-controller="address-autocomplete"
         data-address-autocomplete-default-value="<%= params[:address] %>"
         data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_ACCESS_TOKEN"] %>">
      <%= f.text_field :address,
        class: "d-none",
        placeholder: "Where?",
        data: {
          address_autocomplete_target: "address",
        }
      %>
    </div>
    <div class="">
      <%= f.submit "Search", class: "btn btn-flat" %>
    </div>
  <% end %>
</div>
