<div class="container">
<h2>Tell us more about your pigeon</h2>
<%= simple_form_for(@pigeon) do |f| %>
<%= f.input :name %>
<%= f.input :maximum_payload_weight, label: 'Maximum payload weight (in grams)' %>
<%= f.input :range, label: 'Range (in kilometers)' %>
<%= f.input :description %>
<%= f.input :address %>
<%= f.input :photo, as: :file %>
<%= f.submit %>
<% end %>
</div>
