<div class="container pt-3">
  <h1 class="text-center"><%= @pigeon.name %></h1>
  <br>
  <div class="row">
    <div class="col-6">
      <%= cl_image_tag @pigeon.photo.key, crop: :fill, class: "w-100 rounded-4" %>
    </div>
    <div class="col-6">
      <%= render "rentals/form", rental: @rental, pigeon: @pigeon %>
    </div>
  </div>

<div class="card mt-5">
  <div class="card-body text-center">
    <p><%= @pigeon.description %></p>
    <p> <%= @pigeon.name %> has a capacity of <strong><%= @pigeon.maximum_payload_weight %></strong> grams and a maximum range of <strong><%= @pigeon.range %></strong> kilometers</p>
    <% if @user == @pigeon.user %>
      <%= link_to "Edit", edit_pigeon_path(@pigeon), class: "btn btn-primary" %>
      <%= link_to "Destroy", pigeon_path(@pigeon), class: "btn btn-outline-danger", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
    <% end %>
  </div>
</div>

<br>
<h1> Rental history </h1>
<br>

<% if @pigeon.rentals.length > 0 %>
    <p><% @pigeon.rentals.each do |rental| %></p>
        Renter:
        <%= rental.user.first_name  %>
        <br>
        Price:
        <%= rental.price %>€
        <br>
        Duration:
        <%= (rental.end_date - rental.start_date).to_i  %> days
        <br>
        <% if rental.reviews.length > 0 %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if rental.reviews.last.rating > count %>
                  <i class="fa-solid fa-star"></i>
                <% else %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
              <strong> <%= rental.reviews.last.comment %> </strong>
          </li>
        <% else %>
          <p> <i> No review for this rental </i> </p>
        <% end %>
        <br>
        <br>
    <% end %>
    <% else %>
<h3> <i> This pigeon has never been rented yet! </i> </h3>
<% end %>
