<div class="container pt-3">
  <h1 class="text-center my-3"><%= @pigeon.name %>,</h1>
  <h4 class="text-center mb-5">a pigeon provided by <%= @pigeon.user.first_name %></h4>
  <div class="row">
    <div class="col-6">
      <%= cl_image_tag @pigeon.photo.key, crop: :fill, class: "w-100 rounded-4" %>
    </div>
    <div class="col-6">
      <%= render "rentals/form", rental: @rental, pigeon: @pigeon, booked_dates: @booked_dates %>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-body text-center">
      <p><%= @pigeon.description %></p>
      <p> <%= @pigeon.name %> has a capacity of <strong><%= @pigeon.maximum_payload_weight %></strong> grams and a maximum range of <strong><%= @pigeon.range %></strong> kilometers</p>
      <% if @user == @pigeon.user %>
        <%= link_to "Edit", edit_pigeon_path(@pigeon), class: "btn btn-primary" %>
        <%= link_to "Delete this pigeon", pigeon_path(@pigeon), class: "btn btn-outline-danger", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
      <% end %>
    </div>
  </div>
  <br>
  <h1> Rental history </h1>
  <br>
  <% if @pigeon.rentals.length > 0 %>
    <% @pigeon.rentals.each do |rental| %>
      <div class="card-review card-product">
        <%= cl_image_tag rental.user.photo.key %>
        <div class="card-product-infos">
          <div class="d-flex mb-3">
            <span class="rental-info badge rounded-pill text-bg-primary me-3">
              <strong>Renter:</strong> <%= rental.user.first_name.capitalize %>
            </span>
            <span class="rental-info badge rounded-pill text-bg-primary me-3">
              <strong>Price:</strong> <%= rental.price %>€
            </span>
            <span class="rental-info badge rounded-pill text-bg-primary me-3">
              <strong>Duration:</strong> <%= (rental.end_date - rental.start_date).to_i %> days
            </span>
          </div>
          <% if rental.reviews.length > 0 %>
          <div>
            <small>
              <% rental.reviews.last.rating.times do %>
                 <i class="fa-solid fa-star text-info"></i>
              <% end %>
              <% (5 - rental.reviews.last.rating).times do %>
                 <i class="fa-regular fa-star text-info"></i>
              <% end %>
            </small>
            <p class="comment">
              <%= rental.reviews.last.comment.truncate(300) %>
            </p>
          </div>
          <% else %>
          <p><i> No review for this rental </i></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3> <i> This pigeon has never been rented yet! </i> </h3>
  <% end %>
