<div class="container pt-3">
  <h1><%= @pigeon.name %></h1>
  <div class="row">
    <div class="col-6">
      <%= cl_image_tag @pigeon.photo.key, crop: :fill, class: "w-100 rounded-4" %>
    </div>
    <div class="col-6">
      <%= render "rentals/form", rental: @rental, pigeon: @pigeon %>
    </div>
  </div>








<div class="card mt-5">
  <div class="card-body text-center">
    <p><%= @pigeon.description %></p>
    <p>It has a capacity of <strong><%= @pigeon.maximum_payload_weight %></strong> grams and a maximum range of <strong><%= @pigeon.range %></strong> kilometers</p>
    <% if @user == @pigeon.user %>
      <%= link_to "Edit", edit_pigeon_path(@pigeon), class: "btn btn-primary" %>
      <%= link_to "Destroy", pigeon_path(@pigeon), class: "btn btn-outline-danger", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
    <% end %>
  </div>
</div>
