<div class="container border shadow bg-white rounded-4 p-4"
     data-controller="book-form"
     data-book-form-price-value=<%= pigeon.price %>
     data-book-form-grooming-value=<%= pigeon.grooming_fee %>
     data-book-form-service-value=<%= rental.service_fee_per_day %>
     data-book-form-tax-value=<%= rental.tax_rate %>
     data-book-form-payload-value="<%= PayloadType.all.to_json %>"
     data-book-form-max-weight-value=<%= pigeon.maximum_payload_weight %>
     >
  <h2><%= pigeon.price %>€ per day</h2>

  <%= simple_form_for rental, url: book_path(pigeon), data: { action: "change->book-form#update" } do |f| %>
    <%= f.input :start_date,
        as: :string,
        label: "Dates",
        wrapper_html: {  class: "" },
        input_html: {
          data: {
            controller: "datepicker",
            datepicker_booked_dates_value: booked_dates.to_json,
            book_form_target: "dates"
          }
        }
    %>
    <div class="flex-between">
      Payload Types:
      <% PayloadType.all.each do |pt| %>
        <div class="actions">
          <div class="counter-load">
            <span><%= pt.name %> <%= pt.weight %>g</span>
            <div>
              <span class="btn btn-outline-primary round-bordered" data-action="click->book-form#calculateMinus">-</span>
              <span id="counter" data-book-form-target='quantity'>0</span>
              <span class="btn btn-outline-primary round-bordered" data-action="click->book-form#calculatePlus">+</span>
              <span id='weigth-pt' class='d-none'><%= pt.weight %></span>
            </div>
          </div>
        </div>
      <% end %>
        <p><span data-book-form-target='sum'>0</span><span>g</span></p>
    </div>
    <%= f.submit "Book #{pigeon.name}", class: "mt-3 btn btn-lg btn-primary w-100" %>
  <% end %>

  <ul class="mt-5 list-unstyled">
    <li class="mb-3 d-flex justify-content-between fs-5">
      <div><%= pigeon.price %>€ x <span data-book-form-target="nbOfDays"></span> days</div>
      <div>
        <span data-book-form-target="rental"></span>€
      </div>
    </li>
    <li class="mb-3 d-flex justify-content-between fs-5">
      <div>Pigeon grooming</div>
     <div>
        <span data-book-form-target="grooming"><%= pigeon.grooming_fee %></span>€
      </div>
    </li>
    <li class="mb-3 d-flex justify-content-between fs-5">
      <div>Pijet service fee</div>
      <div>
        <span data-book-form-target="service"></span>€
      </div>
    </li>
    <li class="mb-3 d-flex justify-content-between fs-5">
      <div>Taxes</div>
      <div>
        <span data-book-form-target="tax"></span>€
      </div>
    </li>
  </ul>

  <hr>

  <div class="d-flex justify-content-between fw-bold fs-5">
    <div>Total</div>
    <div>
      <span data-book-form-target="total"></span>€
    </div>
  </div>
</div>
