<div class="container">
  <h1>Congratulation <%= @rental.user.first_name %>, you booked <%= @rental.pigeon.name %>!</h1>

<hr>

  <div class="container pt-3">
    <div class="row">
      <div class="col-6">
        <%= cl_image_tag @rental.pigeon.photo.key, crop: :fill, class: "w-90 rounded-4" %>
      </div>
        <div class="col-6">
          <p><strong>Start date:</strong> <%= @rental.start_date %></p>
          <p><strong>End date:</strong> <%= @rental.end_date %></p>
          <p><strong><%= @rental.pigeon.name %> range:</strong> <%= @rental.pigeon.range %> kilometers</p>
          <p><strong><%= @rental.pigeon.name %> belongs to: </strong> <%= @rental.pigeon.user.first_name %> <%= @rental.pigeon.user.last_name %></p>
          <p><strong><%= @rental.pigeon.name %> price per day:</strong> <%= @rental.pigeon.price %>€</p>
          <p><strong>Payload type (max weight):</strong> <%= @rental.payload_type.name %> (<%= @rental.payload_type.weight %> grams max)</p>

          <hr>

          <% if @rental.price.class == Float %>
            <p><strong>YOUR TOTAL RENTAL PRICE: </strong> <%= @rental.price.to_i %>€</p>
          <% else %>
            <p><strong>YOUR TOTAL RENTAL PRICE: </strong> <%= @rental.price %>€</p>
          <% end %>

          <p><strong>Status:</strong> <%= @rental.status.capitalize %></p>
      </div>
    </div>
  </div>
</div>


<br>
<div class="text-center">
<% if @rental.reviews.length > 0 %>
    <h1>You've already left a comment for this rental !</h1>
    <li class="list-group-item">
      <small>
        <% count = 0 %>
        <% 5.times do %>
          <% if @rental.reviews.last.rating > count %>
            <i class="fa-solid fa-star"></i>
          <% else %>
            <i class="fa-regular fa-star"></i>
          <% end %>
          <% count += 1 %>
        <% end %>
      </small>
      <br>
      <strong> <%= @rental.reviews.last.comment.capitalize %> </strong>
    </li>
  <% else %>
    <%= render "reviews/form", rental: @rental, review: @review %>
  <% end %>
  <br>
  <br>

<%= link_to "Book this pigeon again!", "/pigeons/#{@rental.pigeon.id}", class: "btn btn-primary" %>

</div>
