<div class="container pt-3">
  <h1 class="text-center">Say hello to <%= @rental.pigeon.name %></h1>
  <h4 class="text-center">He will serve you</h4>
  <br>

  <div class="row">
    <div class="col-6">
      <%= cl_image_tag @rental.pigeon.photo.key, crop: :fill, class: "w-100 rounded-4" %>
    </div>
    <div class="col-6">
      <div class="container border shadow bg-white rounded-4 p-4">
        <div class="rental-details">
            <p class="text-simple"><strong>Start date:</strong> <%= @rental.start_date %></p>
            <p class="text-simple"><strong>End date:</strong> <%= @rental.end_date %></p>
            <p class="text-simple"><strong><%= @rental.pigeon.name %> range:</strong> <%= @rental.pigeon.range %> kilometers</p>
            <p class="text-simple"><strong><%= @rental.pigeon.name %> belongs to: </strong> <%= @rental.pigeon.user.first_name %> <%= @rental.pigeon.user.last_name %></p>
            <p class="text-simple"><strong><%= @rental.pigeon.name %> price per day:</strong> <%= @rental.pigeon.price %>€</p>
            <p class="text-simple"><strong>Payload weight:</strong> <%= @rental.payload_weight %>g</p>

            <hr>

            <% if @rental.price.class == Float %>
              <p class="text-simple"><strong>TOTAL RENTAL PRICE: </strong> <%= @rental.price.to_i %>€</p>
            <% else %>
              <p><strong>YOUR TOTAL RENTAL PRICE: </strong> <%= @rental.price %>€</p>
            <% end %>

            <p><strong>Status:</strong> <%= @rental.status.capitalize %></p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="text-center">
  <% if @rental.reviews.length > 0 %>
    <h2>Thank you for your review</h2>
    <li class="list-group-item">
      <small>
        <% count = 0 %>
        <% 5.times do %>
          <% if @rental.reviews.last.rating > count %>
            <i class="fa-solid fa-star"></i>
          <% else %>
            <i class="fa-regular fa-star"></i>
          <% end %>
          <% count += 1 %>
        <% end %>
      </small>

      <br>

      <strong> <%= @rental.reviews.last.comment.capitalize %> </strong>
    </li>
  <% else %>
      <%= render "reviews/form", rental: @rental, review: @review %>
  <% end %>
  </div>
</div>
