  <%# video banner %>

<div class="video-banner">

<video autoplay loop muted width="100%" height="auto" src="videos/pigeon_video.mp4"></video>

      <div class="overlay">
        <h1 id="text-color-banner" class="text-center"> Pijet brings <strong>data</strong> to <strong>people with a shitty internet connection</strong>!</h1>
        <p id="text-color-banner">Rent our pigeons and send your data at the speed of light</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a class="btn btn-flat" href="/pigeons/">Rent a pigeon</a>
        <a class="btn btn-flat" href="/pigeons/new">Earn money with <strong>your </strong>pigeon</a>
      </div>
</div>

<div class="container">
  <h2 class="text-center"> Browse our best pigeons </h2>

  <%# search bar %>

  <div class="container text-center mt-4">
    <center><%= render "pigeons/search_form" %></center>
  </div>

  <br>
  <br>
  <br>

<%# 6 random pigeon cards %>

<% @pigeons.sample(6).each do |pigeon| %>
    <ul id="pigeons" class="list-unstyled row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <% @pigeons.each do |pigeon| %>
              <li class="col">
                <%= link_to pigeon_path(pigeon), class: "text-decoration-none text-black" do %>
                  <div class="card h-100"
                      data-map-target="pigeon"
                      data-latitude=<%= pigeon.latitude %>
                      data-longitude=<%= pigeon.longitude %>>
                    <div class="card-img-container">
                      <%= cl_image_tag pigeon.photo.key, crop: :fill, class: "card-img-top" %>
                    </div>
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <h5 class="card-title fw-bold"><%= pigeon.name %></h5>
                        <span><i class="fa-solid fa-star text-info"></i> <%= pigeon.avg_rating %> (<%= pigeon.reviews.count %>)</span>
                      </div>
                      <p class="card-description">
                        <%= pigeon.description %>
                      </p>
                    </div>
                    <div class="card-footer">
                      <p class="card-text">
                        <strong><%= pigeon.price %>€</strong> per day
                      </p>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
<% end %>

  <br>
  <br>
  <br>

  <center><a class="btn btn-flat" href="/pigeons/">Browse through all pigeons</a></center>
</div>
