<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://focus.nouvelobs.com/2020/03/22/1668/1553/2387/1193/1008/0/50/0/f0f448f_AFP_1Q34SZ.jpg/webp);">
  <div class="container">
    <h1> Pijet brings <strong>data</strong> to <strong>people with a shitty internet connection</strong>!</h1>
    <p>Rent our pigeons and send your data at the speed of light</p>
    <a class="btn btn-flat" href="/pigeons/">Rent a pigeon</a>
    <a class="btn btn-flat" href="/pigeons/new">Earn money with <strong>your </strong>pigeon</a>
  </div>
</div>


<br>
<br>
<br>
<h2 class="text-center"> Browse our best pigeons </h2>
<br>
<br>


<%# search bar %>
<div class="container text-center mt-4">
  <%= form_tag(@pigeon_path, method: "get", id: "search-form", class: "form-inline") do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search pigeon", class: "form-control" %>
      <div class="input-group-append">
        <%= submit_tag "Search", name: nil, class: "btn btn-flat" %>
      </div>
    </div>
  <% end %>

<br>
<br>
<br>

<%# 6 random pigeon cards %>

<div class="cards">
  <% @pigeons.sample(6).each do |pigeon| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(pigeon.photo.key, crop: :fill) %>); background-position: center; background-size: cover;">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h2 class="card-title text-center"><%= pigeon.name %></h2>
        <p> <br></p>
        <%= link_to "Book me", pigeon_path(pigeon), type:"button", class:"btn btn-flat" %>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>
<br>

<%# link to index of all pigeons %>

<a class="btn btn-flat" href="/pigeons/">Browse through all pigeons</a>
