<h1>New review</h1>
<%= simple_form_for [@rental, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.label :rating %>
  <%= f.select :rating, options_for_select([1, 2, 3, 4, 5])%>
  <br><br>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
